<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monthly</key>
	<string>PROJECT_RUNNER_MONTHLY</string>
	<key>annual</key>
	<string>PROJECT_RUNNER_ANNUAL</string>
	<key>sharedSecret</key>
	<string>4b90499211f14f31854a40427323c5bd</string>
</dict>
</plist>
